{% extends "structure.html" %}
{% block main %}

<form action="/admin" name="results" method="post" class="form-signin">
    <h1 class="h1 mb-3 font-weight-normal">Fantasy Overwatch</h1>
    <h1 class="h3 mb-3 font-weight-normal">Admin Page</h1>
    <br>
    <label for="stage" class="sr-only">Enter Stage Number To Get Results</label>
    <input name="stage" id="stageResults" class="form-control" placeholder="Stage" required"">
    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="getStageResults()">Submit</button>
    <br>
    <p class="mt-5 mb-3 text-muted">Created by Callahan Cohane&copy; 2017-2018</p>
  </form>


{% endblock main %}