{% extends "structure.html" %}
{% block main %}


<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="static/owl.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stage 1</h5>
      <p class="card-text">Total Pool: {{ stage1 }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/owl.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stage 2</h5>
      <p class="card-text">Total Pool: {{ stage2 }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/owl.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stage 3</h5>
      <p class="card-text">Total Pool: {{ stage3 }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/owl.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stage 4</h5>
      <p class="card-text">Total Pool: {{ stage4 }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="static/owl.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Playoffs</h5>
      <p class="card-text">Total Pool: {{ playoffs }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

{% endblock main %}
