<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Fantasy Overwatch</title>

    <script language="javascript" type="text/javascript" src="static/web3.min.js"></script>
    <script language="javascript" type="text/javascript" src="static/owlCryptoBets_abi.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css" rel="stylesheet">

  </head>

  <body>

      <script>
          var OwlCryptoBets;
          var userAccount;

          function startApp() {
            var OwlCryptoBetsAddress = "0x65d190ff024b151953e90d9dc00ce982329c7bc4";
            OwlCryptoBets = new window.web3.eth.Contract(owlABI, OwlCryptoBetsAddress);
          
            var accountInterval = setInterval(function() {
              // Check if account has changed
              if (web3.eth.accounts[0] !== userAccount) {
                userAccount = web3.eth.accounts[0];
                // Call a function to update the UI with the new account
                tokensOfOwnerMap(userAccount)
                .then(displayTokens);
                }
              }, 100);
              /*
              OwlCryptoBets.events.Transfer({ filter: { _to: userAccount } })
              .on("data", function(event) {
                let data = event.returnValues;
                // The current user just received a zombie!
                // Do something here to update the UI to show it
                tokensOfOwnerMap(userAccount).then(displayTokens);
              }).on("error", console.error);
              */
            }

          function displayTokens(ids) {
            $("#tokens").empty();
            for (id of ids) {
              // Look up zombie details from our contract. Returns a `zombie` object
              getToken(id)
              .then(function(token) {
                // Using ES6's "template literals" to inject variables into the HTML.
                // Append each one to our #zombies div
                $("#tokens").append(`<div class="token">
                  <ul>
                    <li>First Place: ${token.WinningTeam}</li>
                    <li>Second Place: ${token.RunnerUp}</li>
                    <li>Token Creation Time: ${token.timeStamp}</li>
                    <li>Stage: ${token.Stage}</li>
                  </ul>
                </div>`);
              });
            }
          }

          function buildToken() {
            var Stage = document.stage.stageNumber;
            var tokenForm = document.stage;
            var WinningTeam = "";
            var RunnerUp = "";
            var i;
            for (i = 0; i < tokenForm.length; i++) {
                if (tokenForm[i].name = "Winner" && tokenForm[i].checked && tokenForm) {
                  WinningTeam = tokenForm[i].value;
                  if(WinningTeam){
                    console.log("Here")
                  }
                } else if(tokenForm[i].name = "RunnerUp" && tokenForm[i].checked){
                  RunnerUp = tokenForm[i].value;
                  if(RunnerUp){
                    console.log("Here")
                  }
                }
            }
            sleep(10000);
            /*
            if(Stage != 1 || Stage != 2 || Stage != 3 || Stage != 4 || Stage != 5){
              throw "Enter a stage number 1,2,3,4 or 5! 5 being the playoffs";
            }
            if(WinningTeam.length > 4 || RunnerUp.length > 4){
              throw "Entered too many teams!"
            } */

            // This is going to take a while, so update the UI to let the user know
            // the transaction has been sent
            $("#txStatus").text("Creating new token on the blockchain. This may take a while...");
            // Send the tx to our contract:
            return OwlCryptoBets.methods.buildToken(Stage,WinningTeam,RunnerUp)
            .send({ from: userAccount })
            .on("receipt", function(receipt) {
              $("#txStatus").text("Successfully created a stage " + Stage + " token with " + WinningTeam + " as the winner and " + RunnerUp + " as the runner up!");
              // Transaction was accepted into the blockchain, let's redraw the UI
              tokensOfOwner(userAccount).then(getToken);
            })
            .on("error", function(error) {
              // Do something to alert the user their transaction has failed
              $("#txStatus").text(error);
            });
          }

          function getStageResults(){
            var url = "https://api.overwatchleague.com/schedule";
            var XMLHttpRequest = require("xmlhttprequest").XMLHttpRequest;
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var result = JSON.parse(this.responseText);
                    var WinningTeam = result.data.stages[1].matches[61].winner.id;
                    var Team1 = result.data.stages[1].matches[61].competitors[0].id;
                    var Team2 = result.data.stages[1].matches[61].competitors[1].id;
                    var RunnerUp;
                    if( WinningTeam == Team1 ){
                        RunnerUp = Team2
                    }else{
                        RunnerUp = Team1
                    }
                    StageResults(1,WinningTeam,RunnerUp);

                    WinningTeam = result.data.stages[2].matches[61].winner.id;
                    Team1 = result.data.stages[2].matches[61].competitors[0].id;
                    Team2 = result.data.stages[2].matches[61].competitors[1].id;
                    RunnerUp;
                    if( WinningTeam == Team1 ){
                        RunnerUp = Team2
                    }else{
                        RunnerUp = Team1
                    }
                    StageResults(2,WinningTeam,RunnerUp);

                    WinningTeam = result.data.stages[3].matches[62].winner.id;
                    Team1 = result.data.stages[3].matches[62].competitors[0].id;
                    Team2 = result.data.stages[3].matches[62].competitors[1].id;
                    RunnerUp;
                    if( WinningTeam == Team1 ){
                        RunnerUp = Team2
                    }else{
                        RunnerUp = Team1
                    }
                    StageResults(3,WinningTeam,RunnerUp);

                    WinningTeam = result.data.stages[4].matches[62].winner.id;
                    Team1 = result.data.stages[4].matches[62].competitors[0].id;
                    Team2 = result.data.stages[4].matches[62].competitors[1].id;
                    RunnerUp;
                    if( WinningTeam == Team1 ){
                        RunnerUp = Team2
                    }else{
                        RunnerUp = Team1
                    }
                    StageResults(4,WinningTeam,RunnerUp);

                    WinningTeam = result.data.stages[5].matches[11].winner.id;
                    Team1 = result.data.stages[5].matches[11].competitors[0].id;
                    Team2 = result.data.stages[5].matches[11].competitors[1].id;
                    RunnerUp;
                    if( WinningTeam == Team1 ){
                        RunnerUp = Team2
                    }else{
                        RunnerUp = Team1
                    }
                    StageResults(5,WinningTeam,RunnerUp);
                    

                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();

          }
          
          function StageResults(stage,winner,runner){
            return OwlCryptoBets.methods.StageResults(stage,winner,runner)
            .send({ from: userAccount })
            .on("receipt", function(receipt) {
              $("#txStatus").text("Successfully recieved Stage " + Stage + " results. " + WinningTeam + " won and " + RunnerUp + " came in second!");
              // Transaction was accepted into the blockchain, let's redraw the UI
              tokensOfOwner(userAccount).then(getToken);
            })
            .on("error", function(error) {
              // Do something to alert the user their transaction has failed
              $("#txStatus").text(error);
            });
          }

          function tokensOfOwnerMap(owner) {
            return OwlCryptoBets.methods.tokensOfOwnerMap(owner).call()
          }
          
          function ownerOfTokenMap(id){
            return OwlCryptoBets.methods.ownerOfTokenMap(id).call()
          }
          
          function getToken(id) {
            return OwlCryptoBets.methods.tokens(id).call()
          }

          function _withdrawalPrize(stage){
            return OwlCryptoBets.methods._withdrawalPrize(stage).call()
          }

          window.addEventListener('load', async () => {
              // Modern dapp browsers...
              if (window.ethereum) {
                  window.web3 = new Web3(ethereum);
                  try {
                      // Request account access if needed
                      await ethereum.enable();
                      // Acccounts now exposed
                      web3.eth.sendTransaction({/* ... */});
                  } catch (error) {
                      // User denied account access...
                  }
              }
              
              // Legacy dapp browsers...
              else if (window.web3) {
                  window.web3 = new Web3(web3.currentProvider);
                  // Acccounts always exposed
                  web3.eth.sendTransaction({/* ... */});
              }
              // Non-dapp browsers...
              else {
                  console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
              }
              startApp();
          });
          
        </script>


    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <img src="static/owl.jpeg" class="mx-auto" width="50" height="50">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/stages">Fantasy Overwatch</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">
                  <span data-feather="file"></span>
                  My Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stage1">
                  <span data-feather="shopping-cart"></span>
                   Stage 
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            
            {% block main %}

            {% endblock main%}
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
